table {
    width: 100%;
    border-collapse:collapse;
    
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: large;
}
th {
    background-color: #f2f2f2;
font-size: x-large;
text-transform: uppercase;
}
caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
h1 {
        text-align: center;
        padding-bottom: 1em;
        font-size: xx-large;
        text-decoration: underline;
        text-shadow: 0 0 black;
        text-transform: uppercase;
}
html {
    margin: 2em;
  
   
}
a{
    font-size: large;
  }
  a:link,
  a:visited {
    color: rgb(233, 41, 73);
    font-weight: normal;
  }
  a:hover {
    text-decoration: none;
  }
  
  
  nav {
    
    margin-top: 3em;
  }